<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1072" key="4cd1134c-4ca9-4698-bfcb-fd247608b9b9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-10-11T12:13:05" updateDate="2018-10-11T13:18:43" nodeName="Home" urlName="home" path="-1,1072" isDoc="" nodeType="1066" creatorName="Viral Shah" writerName="Viral Shah" writerID="0" template="1065" nodeTypeAlias="home" isPublished="true">
    <metaDescription><![CDATA[The Goring Meta Description]]></metaDescription>
    <metaName><![CDATA[The Goring]]></metaName>
    <metaKeywords><![CDATA[["Hotels","UK-Hotels"]]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <footerAwards><![CDATA[umb://media/07d58930c2aa4443acd594df2ecc3221,umb://media/072a8eb6227542cb963a5e7e27b35c08,umb://media/40d7e35f99734ff684b102e037b5c832]]></footerAwards>
    <footerLeftLinks><![CDATA[[
  {
    "caption": "Hotel Brochure",
    "link": "http://www.google.com",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Hotel Brochure"
  },
  {
    "caption": "Newsletter",
    "link": "http://www.bbc.co.uk",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Newsletter"
  }
]]]></footerLeftLinks>
    <footerRightLinks><![CDATA[[
  {
    "caption": "Travel Professionals",
    "link": "http://tripadvosor.co.uk",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Travel Professionals"
  }
]]]></footerRightLinks>
  </home>
</root>