    @inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    
    @{
    Layout = "Master.cshtml";
    }

    <div class="main-slider flexslider cf">
        <ul class="slides">
            <li>
                <img src="content-images/home-slide-1.jpg" alt="" />
                <div class="keyline"></div>
                <div class="flex-caption">
                    <div class="main-caption">
                        <p class="flex-caption-header">One <em>hundred</em> years</p>
                        <p>Through four generations of the Goring family the hotel has come to deliver some of the finest personal service in the world</p>
                    </div>
                </div>
            </li>
            <li class="bottom-right">
                <img src="content-images/home-slide-1.jpg" alt="" />
                <div class="keyline"></div>
                <div class="flex-caption">
                    <div class="main-caption">
                        <p class="flex-caption-header">One <em>hundred</em> years</p>
                        <p>Through four generations of the Goring family the hotel has come to deliver some of the finest personal service in the world</p>
                    </div>
                </div>
            </li>
            <li class="bottom-left">
                <img src="content-images/home-slide-1.jpg" alt="" />
                <div class="keyline"></div>
                <div class="flex-caption">
                    <div class="main-caption">
                        <p class="flex-caption-header">One <em>hundred</em> years</p>
                        <p>Through four generations of the Goring family the hotel has come to deliver some of the finest personal service in the world</p>
                    </div>
                </div>
            </li>
            <li class="top-right">
                <img src="content-images/home-slide-1.jpg" alt="" />
                <div class="keyline"></div>
                <div class="flex-caption">
                    <div class="main-caption">
                        <p class="flex-caption-header">One <em>hundred</em> years</p>
                        <p>Through four generations of the Goring family the hotel has come to deliver some of the finest personal service in the world</p>
                    </div>
                </div>
            </li>
            <li class="top-left">
                <img src="content-images/home-slide-1.jpg" alt="" />
                <div class="keyline"></div>
                <div class="flex-caption">
                    <div class="main-caption">
                        <p class="flex-caption-header">One <em>hundred</em> years</p>
                        <p>Through four generations of the Goring family the hotel has come to deliver some of the finest personal service in the world</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="home-content">


        <div id="home-title">
            <h1><span>Our Hotel <em>in</em> London&rsquo;s Belgravia</span></h1>
        </div>



        <div class="home-content-panels cf">



            <div class="home-text">
                <h2>OVER A CENTURY OF LUXURY SERVICE</h2>
                <div class="divider"></div>
                <p><em>A quintessentially English Luxury Hotel</em></p>
                <p>Today, The Goring remains a favourite address and hidden gem for anyone seeking out that Quintessentially English Luxury Hotel in centre of London. </p>
            </div>



            <div class="home-rollover">
                <div class="home-rollover-image">
                    <img src="content-images/home-panel-1.jpg" alt="" />
                    <div class="keyline"></div>
                </div>
                <div class="home-rollover-content">
                    <div class="home-offer">
                        <h2>Quintessential British Cuisine at The Goring</h2>
                        <div class="divider"></div>
                        <p>For over a century our food has played a pivotal role in establishing The Goring as one of London’s finest five star luxury hotels. </p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>



            <div class="home-rollover right">
                <div class="home-rollover-image">
                    <img src="content-images/home-panel-2.jpg" alt="" />
                    <div class="keyline"></div>
                </div>
                <div class="home-rollover-content">
                    <div class="home-offer">
                        <h2>Quintessential British Cuisine at The Goring</h2>
                        <div class="divider"></div>
                        <p>For over a century our food has played a pivotal role in establishing The Goring as one of London’s finest five star luxury hotels. </p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>


        </div><!-- /.home-content-panels -->

        <div class="home-content-panels second-row cf">

            <div class="home-offer">
                <h2>Indulgent <br /><span>Weekends</span> <br /> <em>at The Goring</em></h2>
                <div class="divider"></div>
                <p>Plan ahead and enjoy reduced rates at <br />The Goring.</p>
                <a href="#">From &pound;427 per night</a>
            </div>


            <div class="home-center-rollover">
                <div class="home-rollover-image">
                    <img src="content-images/home-panel-3.jpg" alt="" />
                    <div class="keyline"></div>
                </div>
                <div class="home-rollover-content">
                    <div class="home-offer">
                        <h2>Big John Recommends <br /><span>Top London Tips</span> <br /> <em>From London’s Top Concierge</em></h2>
                        <div class="divider"></div>
                        <p>This month John recommendations;<br />Harry Potter Tours<br />Lion King (the musical)...</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>


            <div class="home-offer right">
                <h2>One Hundred Years <br /><span>One Family</span> <br /> <em>the History of the Goring</em></h2>
                <div class="divider"></div>
                <p>Discover more about our century of service.<br />&nbsp;</p>
                <a href="#">READ MORE</a>
            </div>

        </div><!-- /.home-content-panels -->


    </div><!-- /#home-content -->

