    @inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    
    @{
    Layout = "Master.cshtml";
    }


    <div id="home-content">

        @{ Html.RenderPartial("Partials/SiteLayout/_MainCarousel"); }

        <div id="home-title">
            <h1>@Umbraco.Field("pageHeading")</h1>
        </div>

        @{ Html.RenderPartial("Partials/SiteLayout/_HomeBox"); }


     </div><!-- /#home-content -->

